body {
  background-color: whitesmoke;
}

.App {
  min-height: 100vh;
}

.App > main {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-height: 90vh;
}

header, footer {
  background-color: #111111;
  color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  height: 8vh;
  justify-content: space-between;
}

header a {
  color: whitesmoke;
  text-decoration: none;
  font-style: oblique;
  font-size: 1.5rem;
}

header h2 {
  margin: 0;
}

main button {
  border: 0;
  border-radius: .2rem;
  cursor: pointer;
  height: 3rem;
  color: #eeeeee;
  font-size: 1rem;
  margin-right: 1rem;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .1s;
  transition-property: all;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  padding: 0 1.25rem;
}

main button:not(.activeFilter):hover, main button:not(.activeFilter):active {
  transform: scale(1.05);
}

main button:focus {
  transform: translate3d(0, -2px, 0);
  outline-color: white;
}

main button.danger {
  background-color: #c83349;
}

main button.safe {
  background-color: #8de48d;
  color: #222;
}

main button.success {
  background-color: dodgerblue;
}

.allItemsList .filterButton {
  border: 1px solid #c83349;
  background: white;
  color: #111111;
}

.allItemsList .filterButton:hover, .allItemsList .activeFilter {
  background: #c83349;
  color: whitesmoke;
}

main button.filterButton:focus {
  outline-color: #c83349;
}

.overflowEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.allItemsList > div:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.allItemsList > div:first-child h2 {
  width: 25%;
}

.allItemsList > div:first-child > div {
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.allItemsList > div:last-child > div > div:first-child {
  height: 5rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  margin: 0 1rem;
}

.allItemsList> div:last-child > div > div:last-child  {
  width: 30%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allItemsList> div:last-child > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.allItemsList a {
  color: #111111;
  text-decoration: none;
}

.allItemsList > div:last-child > div:nth-child(even) {
  background-color: whitesmoke;
}

.allItemsList button {
  width: 8.5rem;
}

.flagItem textarea {
  height: 10rem;
  width: 50%;
  font-size: 1.4rem;
}

.searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
}